.w-100{
    width:100%;
}

.content-container{
    margin-top:3rem;
    box-sizing:border-box;
    overflow:auto;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: white;
}

// Margin Utilities
.m-1{
    margin:1rem;
}
.mt-1{
    margin-top:1rem;
}
.ml-1{
    margin-left:1rem;
}
.mr-1{                      
    margin-right:1rem;
}
.m-2{
    margin:2rem;
}
.mt-2{
    margin-top:2rem;
}
.ml-2{
    margin-left:2rem;
}
.mr-2{                      
    margin-right:2rem;
}

.m-4{
    margin:4rem;
}
.mt-4{
    margin-top:4rem;
}
.ml-4{
    margin-left:4rem;
}
.mr-4{                      
    margin-right:4rem;
}

.auto{
    width: fit-content;
    margin-left: 1rem;
}

.flex{
    display:flex;
}

.position-fixed-bottom{
    position:fixed;
    bottom:0;
    width:100%;
}

.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.ob-input{
   input {
    width:100%;
    }  
}

.chat-container{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:4rem 15rem 4rem;
    box-sizing:border-box;
    overflow:auto;
    bottom: 4rem;
    top: 3rem;
    position: relative;

}

.container{
    width:100%;
    height:100%;
    position: relative;
    top:7rem
}

.user-message{
    background-color:#DCF8C6;
    padding:0.5rem 1rem;
    border-radius:10px;
    max-width:70%;
    margin-left:auto;
}

.bot-message{
    background-color:#F1F0F0;
    padding:0.5rem 1rem;
    border-radius:10px;
    max-width:70%;
    margin-right:auto;
}