.w-100{
    width:100%;
}

.content-container{
    margin-top:4rem;
    box-sizing:border-box;
    height:calc(100% - 4rem);
    overflow:auto;
}

// Margin Utilities
.m-1{
    margin:1rem;
}
.mt-1{
    margin-top:1rem;
}
.ml-1{
    margin-left:1rem;
}
.mr-1{                      
    margin-right:1rem;
}
.m-2{
    margin:2rem;
}
.mt-2{
    margin-top:2rem;
}
.ml-2{
    margin-left:2rem;
}
.mr-2{                      
    margin-right:2rem;
}

.m-4{
    margin:4rem;
}
.mt-4{
    margin-top:4rem;
}
.ml-4{
    margin-left:4rem;
}
.mr-4{                      
    margin-right:4rem;
}

.auto{
    width: fit-content;
    margin-left: 1rem;
}

.flex{
    display:flex;
}